.topContainer{
display: flex;
flex-direction:row


}

body {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
}

.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 100px;
  height: 60px;
  border-radius: 10px;
}

.right-arrow{
  position: absolute;
  top: 25%;
  right: 32px;
  font-size: 3rem;
  color: #000;
}

.poster{
height:350px;
width:350px

}

